<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pokedex</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<h1>Pokedex</h1>
	<ul class="pokedex">
		<% for( let i = 0; i < pokemon.length; i++ ) { %>
		 
		<% if (pokemon[i].supertype === 'Pokémon') { %>
			<li class="pokemon">
				<img src="<%= `${pokemon[i].images.small}` %>" alt="small card img">
				<br>
				<span><%= pokemon[i].name%></span>
				<br>
				<span><%= pokemon[i].types && pokemon[i].types.length > 0 ? pokemon[i].types[0] + ' Type: ' : '' %></span>
				<span><%= pokemon[i].rarity%></span>
				<br>
				<span class="del">delete</span>
			</li>
		<% } %>
		<% } %>
	</ul>

	<h2>Find a card:</h2>
	<form action="" method="post"><input type="search" name="pokeSearch" id="pokeSearch"><input type="button" value="">Search</form>

	<script src="js/main.js"></script>
</body>
</html>